# importing the dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [2]:
ds=pd.read_csv("testdata.csv")
ds
#from the above dataset i came to know that
#in the above dataset the sentiment column has three numbers 4,2,0
#4-positive
#2-neutral
#0-negative

,sentiment,date,day,topic,name,text
0,4,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...
1,4,5,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck..."
2,4,6,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...
3,4,7,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...
4,4,8,Mon May 11 03:22:00 UTC 2009,kindle2,GeorgeVHulme,@richardebaker no. it is too big. I'm quite ha...
...,...,...,...,...,...,...
492,2,14072,Sun Jun 14 04:31:43 UTC 2009,latex,proggit,Ask Programming: LaTeX or InDesign?: submitted...
493,0,14073,Sun Jun 14 04:32:17 UTC 2009,latex,sam33r,"On that note, I hate Word. I hate Pages. I hat..."
494,4,14074,Sun Jun 14 04:36:34 UTC 2009,latex,iamtheonlyjosie,Ahhh... back in a *real* text editing environm...
495,0,14075,Sun Jun 14 21:36:07 UTC 2009,iran,plutopup7,"Trouble in Iran, I see. Hmm. Iran. Iran so far..."
496,0,14076,Sun Jun 14 21:36:17 UTC 2009,iran,captain_pete,Reading the tweets coming out of Iran... The w...

In [3]:
ds['sentiment'].values
#printing the sentiment values and all values are 1(positive) and 0(negative)

array([4, 4, 4, 4, 4, 0, 4, 4, 4, 2, 0, 4, 4, 0, 4, 0, 4, 0, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 2, 2, 4, 0, 0, 0, 0, 0, 4, 4, 4, 4, 0, 0, 0,
       2, 2, 2, 0, 0, 0, 4, 2, 2, 0, 2, 4, 4, 4, 0, 4, 2, 4, 2, 0, 0, 4,
       4, 4, 2, 2, 2, 0, 4, 4, 2, 2, 4, 0, 0, 4, 0, 4, 2, 2, 4, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 2, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 2, 4, 4, 2, 4, 2, 0, 4, 4, 2, 4, 2, 2, 4, 4, 4,
       4, 2, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0,
       2, 2, 2, 2, 2, 2, 0, 4, 2, 0, 0, 2, 4, 0, 0, 0, 2, 2, 2, 2, 2, 0,
       2, 2, 4, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 4, 0, 2, 4, 2, 4, 2, 2,
       2, 2, 2, 4, 4, 2, 4, 4, 2, 4, 2, 0, 0, 0, 0, 0, 0, 2, 0, 4, 2, 2,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2, 4, 4, 4, 4, 0, 2, 2,
       4, 4, 4, 4, 4, 4, 4, 0, 4, 4, 4, 4, 4, 4, 4, 4, 0, 4, 4, 2, 0, 4,
       4, 4, 2, 4, 4, 4, 0, 0, 4, 4, 4, 4, 4, 4, 2, 0, 0, 0, 2, 2, 4, 0,
       4, 4, 4, 4, 4, 0, 0, 4, 4, 0, 0, 0, 0, 2, 0, 0, 2, 0, 2, 4, 0, 4,
       4, 2, 2, 0, 4, 0, 4, 4, 4, 4, 4, 2, 4, 4, 4, 2, 2, 4, 4, 0, 0, 0,
       0, 0, 0, 0, 4, 0, 4, 4, 4, 4, 4, 4, 0, 0, 0, 4, 4, 2, 4, 4, 2, 4,
       4, 4, 4, 4, 4, 4, 4, 2, 0, 4, 4, 2, 2, 2, 0, 4, 4, 2, 2, 4, 0, 0,
       2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 2, 2, 2, 0, 0, 4, 4, 0, 2, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2,
       4, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 4, 0,
       2, 2, 4, 2, 2, 2, 2, 2, 4, 2, 4, 4, 0, 4, 0, 4, 0, 0, 2, 2, 0, 0,
       4, 0, 2, 2, 4, 0, 4, 4, 4, 2, 2, 0, 2, 4, 4, 4, 4, 0, 0, 0, 2, 0,
       0, 2, 4, 2, 4, 0, 4, 4, 2, 0, 4, 0, 0], dtype=int64)

In [4]:
ds.drop(["date","day","topic","name"], axis = 1,inplace=True)
#removing the columns that are not required

In [5]:
ds.drop(ds[ds['sentiment'] ==2].index, inplace = True)
#removing the rows in which the sentiment ==2 (neutral)

In [6]:
ds

     sentiment                                               text
0            4  Reading my kindle2...  Love it... Lee childs i...
1            4  Ok, first assesment of the #kindle2 ...it fuck...
2            4  @kenburbary You'll love your Kindle2. I've had...
3            4  @mikefish  Fair enough. But i have the Kindle2...
4            4  @richardebaker no. it is too big. I'm quite ha...
..         ...                                                ...
491          4  After using LaTeX a lot, any other typeset mat...
493          0  On that note, I hate Word. I hate Pages. I hat...
494          4  Ahhh... back in a *real* text editing environm...
495          0  Trouble in Iran, I see. Hmm. Iran. Iran so far...
496          0  Reading the tweets coming out of Iran... The w...

[358 rows x 2 columns]

In [7]:
ds.sentiment =ds.sentiment.replace(4,1)
#replacing 4 in the sentiment column with 1 for 0's and 1's

In [8]:
ds

     sentiment                                               text
0            1  Reading my kindle2...  Love it... Lee childs i...
1            1  Ok, first assesment of the #kindle2 ...it fuck...
2            1  @kenburbary You'll love your Kindle2. I've had...
3            1  @mikefish  Fair enough. But i have the Kindle2...
4            1  @richardebaker no. it is too big. I'm quite ha...
..         ...                                                ...
491          1  After using LaTeX a lot, any other typeset mat...
493          0  On that note, I hate Word. I hate Pages. I hat...
494          1  Ahhh... back in a *real* text editing environm...
495          0  Trouble in Iran, I see. Hmm. Iran. Iran so far...
496          0  Reading the tweets coming out of Iran... The w...

[358 rows x 2 columns]

# removing punctuation and number

In [9]:
def preprocess_tweet(tweet):
    #Preprocess the text in a single tweet
     #removing all numbers from tweets
    tweet= re.sub('[^a-zA-Z]',' ',tweet)
    #convert all urls to sting "URL"
    tweet = re.sub('((www\.[^\s]+)|(https?://[^\s]+))','URL',tweet)
    #convert all @username to "AT_USER"
    tweet = re.sub('@[^\s]+','AT_USER', tweet)
    #correct all multiple white spaces to a single white space
    tweet = re.sub('[\s]+', ' ', tweet)
    #convert "#topic" to just "topic"
    tweet = re.sub(r'#([^\s]+)', r'\1', tweet)
    return tweet

In [10]:
ds['text'] = ds['text'].apply(preprocess_tweet)
print(ds['text'])

0      Reading my kindle Love it Lee childs is good r...
1      Ok first assesment of the kindle it fucking ro...
2       kenburbary You ll love your Kindle I ve had m...
3       mikefish Fair enough But i have the Kindle an...
4       richardebaker no it is too big I m quite happ...
                             ...
491    After using LaTeX a lot any other typeset math...
493    On that note I hate Word I hate Pages I hate L...
494    Ahhh back in a real text editing environment I...
495    Trouble in Iran I see Hmm Iran Iran so far awa...
496    Reading the tweets coming out of Iran The whol...
Name: text, Length: 358, dtype: object